@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply the animations */
.slide-in-right {
  animation: slide-in-right 0.5s forwards;
}

.slide-out-left {
  animation: slide-out-left 0.5s forwards;
}

.slide-in-left {
  animation: slide-in-left 0.5s forwards;
}

.slide-out-right {
  animation: slide-out-right 0.5s forwards;
}

/* Ensure swiper is centered properly */
.swiper-container {
  justify-content: center;
}

/* Reset the scale for all slides */
.swiper-slide .tour-card {
  transform: scale(1);
  transition: transform 0.3s ease;
}

/* Apply zoom to only the centered slide */
.swiper-slide-active .tour-card {
  transform: scale(1.1); /* Adjust scale as needed */
}

/* (Optional) Slightly reduce the size of non-active slides for better contrast */
.swiper-slide:not(.swiper-slide-active) .tour-card {
  transform: scale(0.9);
}

/* Ensure no additional left or right margin is causing misalignment */
.swiper-slide {
  margin-left: 0;
  margin-right: 0;
}


